body {
  overflow: hidden !important;
}

li.disabled > a {
  pointer-events: none;
  color: #BBB !important;
}

#info {
  margin-left: 15%;
  width: 70%;
}

#custom_scroll {
  width: 100%;
  height: 90vh;
}

.join-icon {
  font-size: 5em;
}

#menu {
  overflow-y: auto;
  overflow-x: auto;
}

.content {
  position: relative;
  overflow: hidden !important;
  padding: 0 !important;
}

#columnControlFilter {
  margin: 10px;
}

#columnControlFilterSearch {
  height: 33px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.dataTables_scrollBody {
  background-image: none !important;
  border-bottom: solid 2px rgb(221, 221, 221) !important;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.dataTables_scrollHead {
  border-bottom: solid 2px rgb(221, 221, 221) !important;
}

.dataTables_scrollHead table {
  border-bottom: none !important;
}

table.dataTable thead th, table.dataTable thead td {
  border-bottom: none !important;
}


.content-wrapper {
  overflow: hidden;
}

.sidebar-header {
  margin-left: 10px;
  font-weight: bold;
}

.table-footer {
  width: 100%;
  text-align: right;
  padding-right: 20px;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
}

.table-info {
  float: right;
}

.sidebar {
  padding-bottom: 0 !important;
}

.catalog-info {
  padding-left: 10px;
  color: #AAA;
  font-size: 0.7em;
  float: left;
}

div[id$='-columns'] {
  padding-bottom: 15px !important;
  margin-bottom: 0 !important;
}

ul[id$='-filters'] > li.treeview.active > ul > .form-group.shiny-input-container:last-child {
  padding-bottom: 15px !important;
  margin-bottom: 0 !important;
}

.sidebar > .shiny-input-container {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0 ;
  padding-bottom: 0 !important;
}

.navbar-text {
  color: white;
  margin-right: 15px !important;
}

.navbar-text a {
  margin-left: 5px;
  color: white;
}

.shiny-server-account {
  display: none;
}

.dashboard-box {
  padding: 15px;
}

.watermark {
  position: fixed;
  pointer-events: none;
  top: 50%;
  left: 50%;
  opacity: 0.25;
  z-index: 1000;
  font-family: sans-serif;
  font-size: 25vh;
  font-weight: bold;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.main-header .logo img {
  margin-top: 5px;
  max-height: 40px;
  max-width: 350px;
  margin-bottom: 5px;
}


/* Catalog Control Styles */

.catalog-control {
  width: 100%;
  box-sizing: border-box;
  border-bottom: solid #CCC 1px;
}

.catalog-control.hidden {
  display: none;
}

.catalog-control > .column-display {
  height: 30px;
  box-sizing: border-box;
  position: relative;
}

.catalog-control > .column-display > label {
/*  display: table-cell; */
  box-sizing: border-box;
  padding-left: 5px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 0;
  cursor: pointer;
  margin-left: 5px;
}

.catalog-control > .column-display input {
  padding-right: 5px;
}

.catalog-control > .column-display > label > .checkbox-label {
  padding-left: 5px;
  overflow: hidden;
}

.catalog-control > .column-display > label {
  width: 50%;
}

.catalog-control > .column-display > label:hover {
  font-weight: bold;
}

.catalog-control > .column-display > .catalog-button {
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
}

.catalog-control > .column-display > .catalog-button:hover {
  background-color:rgba(255, 255, 255, 0.1);
  font-size: 1.3em;
}

.catalog-control > .column-display > .filter-toggle {
  position: absolute;
  right: 0;
  color: white;
}

.catalog-control > .column-display > .filter-reset {
  position: absolute;
  right: 30px;
  color: white;
}

.catalog-control > .column-display > .filter-reset.hidden {
  display: none;
}

.catalog-control > .column-filter {

  background-color: #393939;
  color: white;
  border-bottom: solid #CCC 1px;
  padding-bottom: 5px;
  padding-top: 7px;

}

#helpModal .modal-header {
  padding-bottom: 0;
}

.catalog-control > .column-filter .checkbox {
  margin: 0;
}

.catalog-control > .column-filter .shiny-input-container {
  margin-bottom: 0;
  padding-top: 0;
}

.catalog-control > .column-filter .shiny-input-container:last-child {
  text-align: right;
}

.catalog-control > .column-filter .selectize-control {
  margin-bottom: 0;
}

#blinds {

  z-index: 2000;
  display: none;
  position: absolute;
  background-color: red;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  left: 0;
  font-size: 10em;
  top: 0;
  opacity: 0;

}

#blinds > i {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.help-page {
  width: 100%;
  height: 50vh;
  overflow-y: scroll;
}

.help-page:not(.shown) {
  display: none;
}

.help-page img {
  margin: auto;
  max-width: 90%;
  display: block;
  border: solid 1px #EEEEEE;
  box-shadow: 3px 3px 3px #888888;
  border-radius: 3px;
}

.help-page p {
  font-family: serif;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  width: 90%;
}

.help-page ul{
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.help-page h1 {
  margin-left: 2%;
  font-weight: bold;
  color: #3c8dbc;
}

.help-page h2 {
  margin-left: 3%;
  color: #3c8dbc;
  font-weight: bold;
}

.help-page h3 {
  margin-left: 4%;
  color: #3c8dbc;
  font-weight: bold;
}

.help-page h4 {
  margin-left: 5%;
  color: #3c8dbc;
}